<div>
	<div class="note">
		<h2 class="note__title"><%= note.title %></h2>
		<p class="note__body"><%= note.body %></p>
		<div class="note__actions">
			<% if note.active? %>
				<%= link_to 'edit', edit_note_path(note) %>
				<%= link_to 'trash', note, method: :delete %>
			<% else %>
				<%= link_to 'restore', restore_path(note) %>
			<% end %>
		</div>
	</div>
</div>
