<!DOCTYPE html>
<html>
  <head>
    <title>GlApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="header__heading">Keep</h1>
    </header>
    <div style="display: flex;">
      <nav class="navbar">
        <ul class="navbar__list">
          <li class="navbar__item"><%= link_to "notes", root_path %></li>
          <li class="navbar__item"><%= link_to "trash", root_path %></li>
        </ul>
      </nav>
      <section>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
